<section>
  <div class="page-header">
    <h1>Apic</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="apic in vm.apic" ui-sref="apic.view({ apicId: apic._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="apic.created | date:'mediumDate'"></span>
        by
        <span ng-if="apic.user" ng-bind="apic.user.displayName"></span>
        <span ng-if="!apic.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="apic.title"></h4>
      <p class="list-group-item-text" ng-bind="apic.content"></p>
    </a>
  </div>
</section>
